

<div class="container-form">
    <h2>Acciones de usuarios</h2>
    <form class="form">
        <label>Nombre: </label>
        <input type="text" name="nombre" [(ngModel)]="nombreEmpleado">
    
        <label>Apellido: </label>
        <input type="text" name="apellido" [(ngModel)]="apellidoEmpleado">
    
        <label>Cargo: </label>
        <input type="text" name="cargo" [(ngModel)]="cargoEmpleado">
    
        <label>Sueldo: </label>
        <input type="number" name="sueldo" [(ngModel)]="sueldoEmpleado">
        
        <button class="btn-form" type="submit" (click)="AccionEmpleados()">{{Textboton}}</button>
    </form>
    <button class="btn-home" (click)="Volverhome()">Volver al inicio</button>
</div>


