<header>
      <h1>{{title}}</h1>
</header>

<body>

  <div>
    <div>
      <h2>Agregar empleados</h2>
    </div>
    <form>
      Nombre: <input type="text" name="nombre" [(ngModel)]="nombreEmpleado">
      Apellido: <input type="text" name="apellido" [(ngModel)]="apellidoEmpleado">
      Cargo: <input type="text" name="cargo" [(ngModel)]="cargoEmpleado">
      Sueldo: <input type="number" name="sueldo" [(ngModel)]="sueldoEmpleado">
      <button type="submit" (click)="AgregarEmpleado()">Agregar Empleados</button>
    </form>
  </div>

  <div>
    <p *ngFor="let usuario of usuarios">{{usuario.nombre}} {{usuario.apellido}} {{usuario.cargo}} {{usuario.sueldo}}</p>
    </div>
</body>

