.title{
    margin: 40px auto;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 40px;
}

.h2{
    font-family: 'Segoe UI';
}

.flex-home{
    width: 80%;
    margin: auto;
}

.container-form{
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
}

.form{
    width: 100%;
    margin: 30px auto;
}

.form label{
    width: 100%;
    margin: 20px 0 0 0;
    font-family: 'Segoe UI';
}

.form input{
    width: 150px;
    margin: 0 30px 0 0;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-form{
    width: 150px;
    margin: 30px auto 20px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    display: block;
    font-family: 'Segoe UI';
    font-size: 15px;
}

.container-tableUsers{
    margin: 60px auto;
    text-align: center;
}

.tableUsers{
    width: 80%;
    margin: auto;
    display: block;
}

.tableUsers td{
    width: 150px;
    max-width: 150px;
    text-align: center;
    font-family: 'Segoe UI';
}

.InfoEmple{
    padding: 7px;
}

.acciones{
    width: 100%;
    margin: 0 0 0 3px;
    padding: 4px;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background: #1746A2;
}

.Eliminar{
    background: red;
}