<header>
    <h1 class="title">{{title}}</h1>
</header>

<body>

<div class="flex-home">
    <div class="container-form">
        <div>
            <h2 class="h2">Agregar empleados</h2>
        </div>
        <form class="form">
                <label>Nombre: </label>
                <input type="text" name="nombre" [(ngModel)]="nombreEmpleado">

                <label>Apellido: </label>
                <input type="text" name="apellido" [(ngModel)]="apellidoEmpleado">

                <label>Cargo: </label>
                <input type="text" name="cargo" [(ngModel)]="cargoEmpleado">

                <label>Sueldo: </label>
                <input type="number" name="sueldo" [(ngModel)]="sueldoEmpleado">

            <button class="btn-form" type="submit" (click)="AgregarEmpleado()">Agregar</button>
        </form>
    </div>

    <div class="container-tableUsers">
        <h2 class="h2">Empleados</h2>
        <table border="1" class="tableUsers">
            <td>
                <p>Id</p>
            </td>
            <td>
                <p>Nombre</p>
            </td>
            <td>
                <p>Apellido</p>
            </td>
            <td>
                <p>Cargo</p>
            </td>
            <td>
                <p>Sueldo</p>
            </td>
            <td>
                <p>Acciones</p>
            </td>
            <tr *ngFor="let usuario of usuarios; let i = 'index'">
                <td>{{i + 1}}</td>
                <td>{{usuario.nombre}}</td> 
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.cargo}}</td>
                <td>{{usuario.sueldo}}</td>
                <td>
                    <!-- Se pasa como parametro el id de cada usuario -->
                    <a *ngFor="let usuario of usuarios; let i = 'index'" [routerLink]="['/accionesUsers', i]">Actualizar</a> 
                    <a *ngFor="let usuario of usuarios; let i = 'index'" [routerLink]="['/accionesUsers', i]">Eliminar</a> 
                </td>
            </tr>
        </table>
    </div>
</div>

</body>